<header>
F	<video autoplay loop>
		<source src="http://urbaninfluence.com/videos/video-home.webm" type="video/webm">
		<source src="http://urbaninfluence.com/videos/video-home.mp4" type="video/mp4">
	</video>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Music Find</h1>
            <hr>
            <p>One stop app that connects all music related businesses directly to the end consumer</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>


